* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#emailInvalido, #emailVazio {
    display: none;
    color: #fc033d;
    background-color: #f79eb3;
    border: 2px solid #fc033d;
    width: 200px;
    margin-top: 5px;
}

#pontuacaoGeral {
    margin-top: 10px;
}

/* Definindo a área do jogo*/
/* Especificamente sua altura, largura, a borda da área e definindo o início da margem */
.board-jogo {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #396039;
    margin: 0 auto;
    /* Definimos como relative para que as imagens que irão interagir com a área do jogo respeitem a delimitação */
    position: relative;
    /* Usamos a propriedade "overflow" como "hidden" para que, quando o arbusto ultrapassar pelo lado esquerdo, ele poder "desaparecer" */
    overflow: hidden;
    background: linear-gradient(#82b7d9, white);
}

/* Definindo a posição e ações do arbusto */
.arbusto {
    /* Definimos como absolute para que nenhuma imagem interfira com as ações de qualquer outra imagem */
    position: absolute;
    bottom: 0;
    width: 150px;
    /* Definimos a duração da animação como "infinita" em um tempo linear de execução */
    animation: animacao-arbusto 1.8s infinite linear;
}

/* Definindo a posição e ações da formiga */
.bichinhoEscolha {
    width: 130px;
    position: absolute;
    bottom: 0;
}

.pular {
    animation: pular 500ms ease-out;
}

@keyframes animacao-arbusto {
    /* Usamos a propriedade "right" para fazer com que o arbusto entre na área do jogo pela direita e saia pela esquerda */
    from {
        right: -200px;
    }

    to {
        right: 100%;
    }
}

@keyframes pular {
    /* As porcentagens irão definir a "hora" da animação, onde definimos também a posição da imagem animada */
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    70% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}


